/*SITE LINK ANCORA*/
/*Inicia todos os elementos com a margin 0 e padding 0*/
*{ 
	margin: 0; 
	padding: 0; 
}

:root {
	--corPadrao:  #b50909;
	--segundaCorPadrao: #fff;
}

/*Aplicado em todas as paginas*/
.container-principal {
	font-family: calibri; 
	color: #424242;
}

p {
	font-size: 16px;
}

/*Propriedades do topo - pagina principal*/
header {
	width: 100%; 
	height: 69px; 
	background-color: var(--segundaCorPadrao); 
	position: relative; 
	top: 0;
}

/*Propriedades do rodape das paginas - texto final: principal, cliente, sobre e contato*/
#final-text {
	background-color: var(--segundaCorPadrao); 
	color: #424242;
	position:absolute;
    bottom:0;
    width:100%;
	font-size: 12px;
	
}

#final-text p {
	color: #424242;
	font-size: 12px;
	
}


/*Propriedades do logo - pagina principal*/
.logo {
	position: absolute; 
	width: 300px; 
	height: auto;
}

.logo img {
	width: 70%; 
	margin-left: 0px; 
}


/*Propriedades do menu - aplicado em todas as paginas*/
nav {
	position: absolute; 
	right: 30px; 
	margin-right: 10px
}

nav ul li {
	float: left; 
	color: var(--segundaCorPadrao); 
	width: auto; 
	margin: 0.8em; 
	font-size: 1.2em; 
	font-family: verdana; 
	list-style: nome;
}	

nav ul li a {
	text-decoration: none;
	color: #bbb;
}

nav ul li a:hover {
	color: var(--corPadrao);
}

/*Propriedades da imagem - pagina principal*/
#banner {
	width: 100%; 
	height: 70%;
} 

#banner img {
	width: 100%;
	margin-top: 0;
}

/*Propriedades do texto (class modelDialog) - pagina principal*/
.modalDialog { 
	position: fixed; 
	font-family: calibri;
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0; 
	background: rgba(181, 9, 9, 0.6);
	z-index: 9999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in; 
	transition: opacity 400ms ease-in;
	pointer-events: none;
	/*o atributo 'opacity' começando com '0' e o 'display' começando com 'none', 
	faz com que o poup fique oculto assim que o site principal é aberto*/
	display: none;
	opacity: 0; 
}


.modalDialog:target {
	/*o atributo 'opacity' e alterado para '1' e o 'display' alterado para 'block', 
	assim que o usuario clicar no link ancora que esta na class 'footer' (rodape) da pagina principal*/
	display: block;
	opacity: 1;
	pointer-events: auto;
}

.modalDialog div {
	width: 500px; 
	position: relative; 
	margin: 10% auto; 
	padding: 5px 20px 13px 20px; 
	-webkit-border-radius: 12px; 
	-moz-border-radius: 12px; 
	border-radius: 10px; 
	background-color: var(--segundaCorPadrao);
	
} 

.modalDialog p { 
	margin-top: 5%; 
	margin-bottom: 5%; 
} 

.modalDialog img { 
	width: 50%; 
	position: relative; 
	margin-left: 25%; 
}


/*Propriedades do id close - botão fechar, referente o pop-up (class modelDialog) - pagina principal*/
.close { 
	background-color: #606061;
	color: var(--segundaCorPadrao);
	line-height: 25px; 
	position: absolute; 
	right: -12px;
	text-align: center; 
	top: -10px;
	width: 24px; 
	text-decoration: none;
	font-weight: bold; 
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px; 
	border-radius: 12px;
} 

.close:hover { 
	background-color: var(--corPadrao);
}


/*Define as propriedades do 'footer' (rodape)
Propriedades do link ancora que esta na class 'footer' da pagina principal*/
footer {
	width: 100%;
	height: 35%;
	color: var(--segundaCorPadrao);
	background-color: var(--corPadrao);
	position: relative;
	float: left;
}


.footer-text {
	width: 30%;
	margin: 1%;
	position: relative;
	float: left;
}

.footer-text a {
	color: var(--segundaCorPadrao);
}


/*Define a cor de fundo das paginas sobre, cliente e contato*/
.color-page {
	background: #ddd;
}

.img-titulo {
	width: 20%;
	margin-right: 5%;
	height: auto;
	margin-bottom: 10px;
	position: relative;
	float: left;
}


.img-titulo img {
	width: 110%;	
	margin-left: 10%;
	margin-top: 50px;
}


/* Define as propriedades da página clientes*/ 
#clientes-code { 
	width: 75%; 
	position: relative;
	float: left;
} 

#clientes-code .config-clientes { 
	width: 40%;
	height: 50%;
	border: 1px solid var(--corPadrao); 
	margin-left: 1.5%; 
	padding: 1%; 
	float: left; 
	margin-top: 30px; 
	background-color: var(--segundaCorPadrao);
	border-radius: 10px; 
} 

#clientes-code .config-clientes img { 
	width: 60%; 
	margin-left: 20%; 
	margin-bottom: 20px;
} 

#clientes-code .config-clientes p { 
	width: 90%; 
	margin-left: 5%; 
	font-size: 1.0em; 
	margin-bottom: 20px; 
	text-align: center;
} 

#clientes-code .config-clientes p a { 
	color:#111;
}

/* Define as propriedades da página sobre*/ 
#container-sobre {
	width:65%; 
	margin-left:5%;
	float: left;
	position: relative; 
	height: 80%; 
	background-color: var(--segundaCorPadrao); 
	top: 10%;
	border: solid var(--corPadrao) 1px; 
	border-radius: 10px;
} 

#txt-sobre {
	width:40%; 
	float: left; 
	position: relative; 
	padding: 5% 
}

#txt-sobre p {
	width:100%;
	position: relative;
	float: left; 
} 

#txt-sobre ul {
	width: 50%;
} 

#img-conteudo-sobre {
	width: 45%; 
	position: relative;
	float: left; 
	padding: 2%
} 

#img-conteudo-sobre img {
	width: 100%;
}


/* Define as propriedades da página contato */ 
#txt-contato {
	width: 100%; 
	height: 100%;
}

#txt-contato form {
	width:38%; 
	position: relative; 
	float: left; 
	background-color: var(--segundaCorPadrao); 
	padding: 2%; 
	top: 5%; 
	min-height: 400px;
	border: solid var(--corPadrao) 1px; 
	border-radius: 5px;
}

#txt-contato form label {
	font-weight: bold;
}

#txt-contato form input {
	max-width: 100%; 
	width: 99%; 
	height: 30px; 
	margin-top: 10px; 
	margin-bottom: 15px; 
	border: solid var(--corPadrao) 1px; 
	border-radius: 5px;
	padding-left: 1%;
}

#txt-contato form textarea {
	max-width: 100%; 
	width: 99%; 
	border: solid var(--corPadrao) 1px;
	border-radius: 5px;
	padding-left: 1%; 
	min-height: 100px;
}

#txt-contato form button {
	width: 30%; 
	height: auto; 
	cursor: pointer;
	background-color: var(--corPadrao); 
	color: var(--segundaCorPadrao); 
	font-size: 1.5em; 
	padding: 15px 0 15px 0; 
	margin-left: 35%; 
	margin-top: 1%;
}


#txt-contato #conta-data { 
	width: 26%;
	position: relative; 
	float: left;
	padding: 2%; 
	color: #2E2E2E;
	top: 5%; 
	margin-left: 1.5%;
	height:400px;
	text-align: center;
} 

#txt-contato #conta-data h3 { 
	color: #2E2E2E;
	text-align: center;
} 

#txt-contato #conta-data h4 { 
	margin-top: 6%;
	margin-bottom: 4%; 
	vertical-align: middle;
} 

#txt-contato #conta-data h4 img {
	width: 50px;
}
